
<p><%= image_tag @profile.avatar %></p>
<h2>
  <ul>
    <br>
      <% @profile.repo.each do |r| %>
        <li><%= link_to r["name"] %></li>
      <% end %>
    </br>
  </ul>
</h2>

<p><%= link_to @profile.event %></p>
