<!DOCTYPE html>
<html>
<head>
  <title>RecreateProfile</title>

<meta content="authenticity_token" name="csrf-param" />
<meta content="Gp8utwRHptGP8CSFyfodzX08ZtsIC29zFYWqdHL5d+PKzKZWkDPCOZXtk4rgTQShxonbdeeULzFZP1K3NDS7bg==" name="csrf-token" />

<link href="https://assets-cdn.github.com/assets/github-71026dc447d12cdf19996cb5d0313a4993f064d46a3dc90bec7724a3c9eaf344.css" media="all" rel="stylesheet" />
<link href="https://assets-cdn.github.com/assets/github2-cdf30895e7e63a6a3495f768847199795affd3511d5f37a8fd30968750977434.css" media="all" rel="stylesheet" />


<div class="site-search  js-site-search" role="search">
<form accept-charset="UTF-8" action="/search" class="js-site-search-form" data-global-search-url="/search" data-repo-search-url="" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
<input type="text"
class=""
data-hotkey="s"
name="q"
placeholder="Search GitHub"
data-global-scope-placeholder="Search GitHub"
data-repo-scope-placeholder="Search"
tabindex="1"
autocapitalize="off">


<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
